/* Home.css */

/* Base styles */
.container {
  background-color: #070939;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 20px; /* reduced padding */
  display: flex;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.banner {
  background-color: #0a0d4e;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; /* reduced padding */
  width: 100%;
  box-shadow: 2px 3px 4px #00000052;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0a0d4e;
  box-shadow: 2px 3px 4px #00000052;
}

.navList {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navItem {
  margin-right: 10px; /* reduced margin */
  color: rgb(255, 255, 255);
  font-size: 16px; /* reduced font size */
  font-weight: bold;
  text-align: center;
  padding: 8px 16px; /* reduced padding */
  transition: background-color 0.3s ease-in-out;
}

.navItem:hover {
  background-color: #b7b8d5;
  color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  cursor: pointer;
  color: #070939;
  border-radius: 20px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #ccc;
}

.contentWrapper {
  align-self: end;
  width: 100%;
  max-width: 100%; /* adjusted width */
  margin-top: 30px; /* reduced margin-top */
}

.heroSection {
  margin-top: 30px; /* reduced margin-top */
}

.twoColumnLayout {
  gap: 20px;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.leftColumn {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 0;
  line-height: normal;
  display: flex;
}

.textContent {
  color: #fff;
  margin-top: 30px; /* reduced margin-top */
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;;
  font-weight: 400;
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.2s forwards;
}

.title {
  font-size: 50px; /* reduced font size */
}

.description {
  margin-top: 20px; /* reduced margin-top */
  font-size: 18px; /* reduced font size */
  line-height: 30px;
}

.rightColumn {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 10px; /* reduced margin */
  line-height: normal;
  display: flex;
}

.featureImage {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  flex-grow: 1;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
